---
layout: default
title: Portfolio
---

<div class="portfolio-header">Portfolio</div>
<div class="portfolio-container">
  {% for project in site.data.projects %}
  <div class="portfolio-project">
    <div class="portfolio-image">
      <img src="assets/img/kycapitolwatch-960.jpg">
    </div>
    <div class="portfolio-info">
      <div id="title"><a href="{{ project.website }}">{{ project.name }}</a></div>
      <hr>
      <p>{{ project.descript }}</p>
      <ul class="language-icon">
      {% for language in project.languages %}
        <li><a href="{{ language.link }}">
          {% if language.code contains 'devicon' %}
            <i class="{{ language.code }}"></i>
          {% else %}
            <img src="/assets/img/{{ language.code }}.png" class="{{ language.code }}">
          {% endif %}
        </a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>