<footer>
  <div class="contact-container">
    <div id="contact-left">
      <p class="contact-title">Get in Touch</p>
      <form id="contact-form" action="http://formspree.io/claytonlb2@gmail.com" method="POST">
        <input class="contact-field" type="text" name="name" placeholder="Your Name" required>
        <input class="contact-field" type="email" name="_replyto" placeholder="Email Address" required>
        <textarea class="contact-field" name="body" placeholder="Message" required></textarea>
        <input type="text" name="_gotcha" style="display:none" /><br>
        <input class="contact-submit" type="submit" value="Send">
      </form>
    </div>
    <div id="contact-right">
      <p class="contact-title">I'm also on</p>
      <ul>
        <li>
          <a href="mailto:claytonlb2@gmail.com" class="contact-social">
            <i class="fa fa-envelope-o fa-4x"></i>
            <span>&#99;&#108;&#97;&#121;&#116;&#111;&#110;&#108;&#98;&#50;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/claytonbrown1" class="contact-social">
            <i class="fa fa-linkedin fa-4x"></i>
            <span>claytonbrown1</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/claytonbrown1" class="contact-social">
            <i class="fa fa-github-alt fa-4x"></i>
            <span>claytonbrown1</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<script>
  smoothScroll.init();
</script>
