<footer>
  <ul class="footer-menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="social">

    <a href="#">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x twittercircle"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="#">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x facebookcircle"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="#">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x facebookcircle"></i>
        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
      </span>
    </a>

  </div>

</footer>